#card {
    max-width: 80px;
    width: 80px;
    height: 126px;
    // object-fit: contain;
    // background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 10px;
    margin-bottom: 10px;
    position: relative;

    &:hover .delete-btn {
        display: block;
        cursor: pointer;
    }

    & > .delete-btn {
        display: none;
        position: absolute;
        right: 0;
        top: 0%;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        border: none;
        outline: none;
        color: #111;
        z-index: 10;
    }

    & > .menu {
        position: absolute;
        top: 0;
        right: 100%;
        display: flex;
        flex-flow: column nowrap;
        width: 60px;
        
        & > button {
            height: 20px;
            align-items: center;
            border: none;
            outline: none;

            &:hover {
                color: #fff;
                background-color: dodgerblue;
            }
        }
    }

    & > img {
        width: 100%;
        height: 70px;
    }

    & > p {
        text-align: center;
        width: 100%;
        flex-grow: 1;
        overflow: hidden;
        word-wrap: break-word;
    }
}