.file {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    & > div {
        width: 100%;
        display: flex;
        align-items: center;

        & > p {
            text-align: center;
            flex-grow: 1;
            word-wrap: break-word;
        }

        & > button {
            cursor: pointer;
            margin: 25px 15px;
            width: 100px;
            padding: 10px 0;
            background-color: #fff;
            outline: none;
            border: 1px solid #aaa;
            border-radius: 15px 15px 15px 15px;
        }

        & > button:hover {
            background-color: #68a2ff;
            border: 1px solid #68a2ff;
            color: #fff;
        }
    }

    & > .data {
        max-width: 100%;
        width: auto;
        height: auto;
        max-height: 85%;
    }
}