.home {
    display: flex;
    flex-flow: column nowrap;

    & > .toast {
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        margin-top: 70px;
        z-index: 10;
        background-color: #fff;
        padding: 5px 10px;
        border-radius: 3px;
        border: 1px solid silver;
    }

    & > header {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10%;
        margin-bottom: 5px;
        box-shadow: 0 0px 2px 2px #aaa;

        & > .hamburger {
            display: none;
        }
 
        & > label {
            font-style: italic;
            font-size: 20px;
        }

        & > .search-bar {
            width: 40%;
            max-width: 450px;
            height: 60%;
            border: 1px solid #aaa;
            border-radius: 5px;
            outline: none;
            display: flex;
            flex-flow: row nowrap;
            padding: 2px;

            & > input {
                width: 100%;
                height: 100%;
                padding-left: 1rem;
                border: none;
                border-right: 1px solid #aaa;
                outline: none;
                flex-grow: 1;
            }

            & > button {
                height: 100%;
                width: 50px;
                border: none;
                outline: none;
                padding-top: 2px;
                background-color: transparent;

                & > img {
                    height: 70%;
                    border: none;
                    background-color: transparent;
                    object-fit: cover;
                    background-size: cover;
                }
            }
        }

        & > .profile {
            text-decoration: none;
            display: flex;
            flex-direction: row;
            height: 60%;
            align-items: center;

            & > label {
                cursor: pointer;
                margin-right: 7px;
                color: #000;
                font-size: 18px;
            }

            & > img {
                cursor: pointer;
                height: 23px;
            }
        }
    }

    & > .container {
        width: 100%;
        height: calc(100vh - 70px);
        display: flex;
        flex-flow: row nowrap;

        & > .controls {
            min-width: 300px;
            width: 300px;
            height: 100%;
            border-right: 1px solid #000;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            z-index: 150;

            & > button {
                outline: none;
                text-align: center;
                text-decoration: none;
                border-radius: 5px;
                border: none;
                margin: 20px 0;
                color: #000;
                width: 200px;
                height: 40px;
                letter-spacing: 1px;
                font-size: 14px;
            }

            & > .progress {
                width: 0px;
                display: none;
                height: 10px;
                border: none;
                border: none;
                background-color: dodgerblue;
                border-radius: 5px;
                margin: 20px 0;
            }
        }

        & > #file-grid {
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            padding: 0 15px;
            align-content: flex-start;
        }
    }
}

@media (max-width: 600px) {
    .home {
        & > header {
            position: relative;
            justify-content: center;

            & > .hamburger {
                position: absolute;
                left: 20px;
                display: flex;
                flex-direction: column;
                width: 30px;
                height: 60%;
                margin: 10% 0;
                border: none;
                outline: none;
                background-color: transparent;
                justify-content: space-evenly;

                & > span {
                    width: 100%;
                    height: 10%;
                    background-color: #302f2d;
                }
            }

            & > label {
                display: none;
            }

            & > .profile {
                display: none;
            }

            & > .search-bar {
                width: 70%;
            }
        }

        & > .container {
            position: relative;

            & > .controls{
                position: absolute;
                height: 100%;
                max-width: 300px;
                width: 80%;
                background-color: rgba(255,255,255,0.6);
                transition: 0.3s;
                left: -300px;
                border: none;
            }
        }
    }
}