.login {
    font-family: montserrat, sans-serif;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    overflow-y: scroll;

    & > .toast {
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        margin-top: 70px;
        z-index: 10;
        background-color: #fff;
        padding: 5px 10px;
        border-radius: 3px;
        border: 1px solid silver;
    }

    & > div {
        width: 90%;
        max-width: 400px;
        background-color: #fff;
        border-radius: 10px;

        & > h1{
            text-align: center;
            padding: 10px 0;
            border-bottom: 1px solid silver;
        }

        & > form {
            padding: 0 40px;
            width: 100%;

            & > .txt_field {
                position: relative;
                border-bottom: 2px solid #adadad;
                margin: 30px 0;

                & > input {
                    width: 100%;
                    padding: 0 5px;
                    height: 40px;
                    font-size: 16px;
                    border: none;
                    background: none;
                    outline: none;
                }

                & > label {
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    color: #adadad;
                    transform: translateY(-50%);
                    font-size: 16px;
                    pointer-events: none;
                    transition: 0.5s;
                }

                & > span::before {
                    content: '';
                    position: absolute;
                    top: 40px;
                    left: 0;
                    width: 0%;
                    height: 2px;
                    background-color: #2691d9;
                    transition: 0.5s;
                }

                & > input:focus ~ label,
                & > input:valid ~ label {
                    top: -5px;
                    font-size: 12px;
                    color: #2691d9;
                }

                & > input:focus ~ span::before,
                & > input:valid ~ span::before {
                    width: 100%;
                }
            }

            & > .pass {
                margin: -5px 0 20px 5px;
                color: #a6a6a6;
                cursor: pointer;
            }

            & > .pass:hover {
                text-decoration: underline;
            }

            & > input[type="submit"] {
                width: 100%;
                height: 50px;
                border: 1px solid;
                border-radius: 25px;
                background: #2691d9;
                cursor: pointer;
                font-size: 18px;
                color: #e9f4fb;
                font-weight: 700;
                outline: none;
            }

            & > input[type="submit"]:focus {
                border: #2691d9;
                transition: 0.5s;
            }

            & > .signup_link {
                margin: 30px 0;
                text-align: center;
                font-size: 16px;
                color: #666666;

                & > a {
                    text-decoration: none;
                    color: #2691d9;
                }

                & > a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}