.profile {
    display: flex;
    flex-flow: column nowrap;

    & > header {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10%;
        margin-bottom: 5px;
        box-shadow: 0 0px 2px 2px #aaa;

        & > button {
            cursor: pointer;
            outline: none;
            margin: 25px 15px;
            padding: 10px 20px;
            border-radius: 15px 15px 15px 15px;
        }

        & > .back-btn {
            background-color: #fff;
            border: 1px solid #aaa;
    
            &:hover {
                background-color: #68a2ff;
                border: 1px solid #68a2ff;
                color: #fff;
            }
        }

        & > .logout-btn {
            background-color: #ff0000;
            border: none;
            color: #fff;
            letter-spacing: 1px;
        }

    }

    & > .container {
        display: flex;
        flex-grow: 1;
        flex-flow: row nowrap;
        overflow-y: scroll;
        justify-content: space-evenly;

        & > div {
            display: block;
            width: 90%;
            max-width: 400px;
            background-color: #fff;
            border-radius: 10px;
            border: 1px solid silver;
    
            & > h1{
                text-align: center;
                padding: 10px 0;
                border-bottom: 1px solid silver;
            }
    
            & > form {
                padding: 0 40px;
                width: 100%;
    
                & > .txt_field {
                    position: relative;
                    border-bottom: 2px solid #adadad;
                    margin: 30px 0;
    
                    & > input {
                        width: 100%;
                        padding: 0 5px;
                        height: 40px;
                        font-size: 16px;
                        border: none;
                        background: none;
                        outline: none;
                    }
    
                    & > label {
                        position: absolute;
                        top: 50%;
                        left: 5px;
                        color: #adadad;
                        transform: translateY(-50%);
                        font-size: 16px;
                        pointer-events: none;
                        transition: 0.5s;
                    }
    
                    & > span::before {
                        content: '';
                        position: absolute;
                        top: 40px;
                        left: 0;
                        width: 0%;
                        height: 2px;
                        background-color: #2691d9;
                        transition: 0.5s;
                    }
    
                    & > input:focus ~ label,
                    & > input:valid ~ label {
                        top: -5px;
                        font-size: 12px;
                        color: #2691d9;
                    }
    
                    & > input:focus ~ span::before,
                    & > input:valid ~ span::before {
                        width: 100%;
                    }
                }
    
                & > input[type="submit"] {
                    width: 100%;
                    height: 50px;
                    border: 1px solid;
                    border-radius: 25px;
                    background: #2691d9;
                    cursor: pointer;
                    font-size: 18px;
                    color: #e9f4fb;
                    font-weight: 700;
                    outline: none;
                }
    
                & > input[type="submit"]:focus {
                    border: #2691d9;
                    transition: 0.5s;
                }
            }
        }

        & > .basic-data {
            max-height: 450px;
        }
    }
}