.signup {
    font-family: montserrat, sans-serif;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
    display: flex;
    align-items: center;
    justify-content: center;

    & > .container {
        max-width: 700px;
        width: 100%;
        background: #fff;
        padding: 25px 30px;
        border-radius: 5px;

        & > .title {
            font-size: 25px;
            font-weight: 500;
            position: relative;
        }

        & > .title::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 23px;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
        }

        & > form {
            & > .user-details {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 20px 0 12px 0;

                & > .input-box {
                    width: calc(100% / 2 - 20px);
                    margin-bottom: 12px;

                    & > input {
                        height: 45px;
                        width: 100%;
                        outline: none;
                        border-radius: 5px;
                        border: 1px solid #ccc;
                        padding-left: 15px;
                        font-size: 16px;
                    }

                    & > input:focus,
                    & > input:valid {
                        border-color: #9b59b6;
                    }

                    & > .details {
                        display: block;
                        font-weight: 500;
                        margin-bottom: 5px;
                    }
                }
            }

            & > .button {
                height: 45px;
                margin: 0 0 30px 0;

                & > input {
                    width: 100%;
                    height: 100%;
                    outline: none;
                    border: none;
                    color: #fff;
                    cursor: pointer;
                    background: linear-gradient(135deg, #71b7e6, #9b59b6);
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 1;
                    transition: 0.5s;
                }

                & > input:hover {
                    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
                }
            }

            & > .signup_link {
                & > a {
                    text-decoration: none;
                    color: #2691d9;
                }

                & > a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width: 584px) {
    .signup {
        & > .container {
            max-width: 100%;
            margin: 0 5px;
    
            & > form {
                & > .user-details {
                    overflow-y: scroll;
                    max-height: 350px;
    
                    & > .input-box {
                        margin-bottom: 15px;
                        width: 100%;
                    }
                }

                & > .button {
                    margin: 45px 0 10px 0;
                }
    
                & > .user-details::-webkit-scrollbar {
                    width: 0;
                }
            }
        }
    }
}